<h1>Vertical Bar Chart</h1>
<div class="row">
  <div class="col-md-6">
    <chartjs [data]="barChartData"></chartjs>
  </div>
  <div class="col-md-6">
    <chartjs [data]="bubbleChartData"></chartjs>
  </div>
  <div class="col-md-6">
    <chartjs [data]="doughnutChartData"></chartjs>
  </div>
  <div class="col-md-6">
    <chartjs [data]="pieChartData"></chartjs>
  </div>
  <div class="col-md-6">
    <chartjs [data]="polarChartData"></chartjs>
  </div>
  <div class="col-md-6">
    <chartjs [data]="radarChartData"></chartjs>
  </div>
  <div class="col-md-6">
    <chartjs [data]="scatterChartData"></chartjs>
  </div>
</div>
